body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-info li {
  margin-bottom: 4px;
}

.game-info li button {
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}

.game-info li.active button {
  background-color: #cafc90;
}

.history {
  margin-top: 20px;
}

.history-sort span {
  cursor: pointer;
  color: #333;
  border-bottom: 1px dashed #333;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  -webkit-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.history-sort span:hover {
  border-color: transparent;
}

.history ol {
  margin-top: 10px;
}

.square.active {
  background-color: #cafc90;
}
